# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb

# Builds
Build/
Exported/
Dist/
Binaries/

# Cache files
DerivedDataCache/
Intermediate/
Saved/

# Other
.idea/
.vscode/
*.code-workspace
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.zip
*~
.DS_Store